.footer_main {
    text-align: center;
}

.training-block {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.training-name, .trainer-name, article-name, company-name {
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
}

.header  {
    background-color: #eeeeee;
    padding: 5px;
    font-size: 12pt;
}

.left15 {
    margin-left: 15px;
}

.trainer-mini-block:hover {
    background-color: #eeeeee;
}

.header-part {
    background-color: #eeeeee;
    padding: 5px;
    font-size: 12pt;
}

.part {
    padding: 5px;
    padding-bottom: 10px;
}

.contact-information {
    background-color: #F0F1F5;
    border-radius: 5px;
    padding: 10px;
}

.checklist {
    width:365px;
    overflow:auto !important;
    padding:0 0 0 5px;
    border:1px solid #E5E5E5
}

.checklist.categories {
    height:250px;
}

.checklist.trainers {
    height:100px;
}